.about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about__title {
	color: var(--grayscale-07, #fff);
	font-feature-settings: 'liga' off;
	font-size: 40px;
	font-weight: 700;
	line-height: 106%; /* 42.4px */
	margin-bottom: 30px;
}

.about__description {
	color: var(--grayscale-07, #fff);
	font-size: 24px;
	font-weight: 600;
	line-height: 120%; /* 28.8px */
	width: 270px;
	margin-bottom: 40px;
}

.about__description span {
	background: var(--primary-01, #954ced);
	border-radius: 16px;
}

/* MEDIA */

@media (min-width: 766px) {
	.about__title {
		font-size: 64px;
	}
	.about__description {
		font-size: 36px;
		text-align: center;
		width: 100%;
		padding: 25px 30px;
		margin-bottom: 0;
	}
	.fl-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@media (min-width: 1020px) {
		.about__title {
			font-size: 96px;
			margin-bottom: 80px;
		}
		.about__description {
			max-width: 410px;
			text-align: start;
			padding: 0;
			flex: 0 0 33%;
		}
		.fl-container {
			flex-direction: row;
		}
	}
}
