.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--grayscale-01, #181818);
}

/* .header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 2;
} */

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 102px;
}

.header__logo {
	display: flex;
	align-items: center;
	z-index: 3;
}

.header__logo img {
	width: 41px;
	height: 41px;
}

.header__logo span {
	font-size: 29.6px;
	font-weight: 600;
	color: var(--grayscale-07, #fff);
}

/* BURGER */
.header__burger {
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 3;
}

.header__burger::before,
.header__burger::after {
	content: '';
	background-color: white;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;

	transition: all 0.3s ease;
}

.header__burger::before {
	top: 0;
}

.header__burger::after {
	bottom: 0;
}

.header__burger span {
	position: absolute;
	background-color: white;
	width: 100%;
	height: 2px;
	top: 9px;

	transition: all 0.3s ease;
}

.header__burger.active::before {
	transform: rotate(45deg);
	top: 9px;
}

.header__burger.active::after {
	transform: rotate(-45deg);
	bottom: 9px;
}

.header__burger.active span {
	transform: scale(0);
}

.header__menu {
}

.header__button {
	display: none;
	width: 182px;
	z-index: 3;
}

.header__navigation {
}
.header__controls {
}

/* MEDIA */

@media (min-width: 767px) {
	.header__burger {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.header__button {
		display: inline-block;
	}
}
