.typography {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.typography__title {
	color: var(--grayscale-07, #fff);
	font-feature-settings: 'liga' off;
	font-size: 40px;

	font-weight: 700;
	line-height: 106%; /* 42.4px */

	margin-bottom: 20px;
}
.typography__descriptions {
	color: var(--grayscale-07, #fff);

	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 40px;
}
.typography__button {
	margin-bottom: 120px;
}

/* MEDIA */

@media (min-width: 767px) {
	.typography {
		max-width: 671px;
		justify-content: center;
		margin-right: 64px;
	}
	.typography__title {
		font-size: 64px;
	}
	.typography__descriptions {
		font-size: 20px;
	}
	.typography img {
		margin-bottom: 100px;
	}
	.typography__button {
		margin-bottom: 0;
	}
}

@media (min-width: 1040px) {
	.typography__title {
		font-size: 96px;
	}
}
