.header-tabs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	background-color: var(--secondary-02, #ffaa4c);
}
.header-tabs__list {
	height: 38px;
	display: flex;
	justify-content: start;
	align-items: center;
}
/* Animation */
.header-tabs__item {
	cursor: pointer;
	padding: 9px 30px;
	border-radius: 20px 20px 0px 0px;
	transition: background 0.2s ease-in-out;
}
.header-tabs__item.active {
	background: var(--grayscale-01, #181818);
}

.header-tabs__item.active a {
	color: var(--grayscale-07, #fff);
}
/* end */

.header-tabs__link {
	color: var(--grayscale-00, #000);
	font-size: 16px;
	font-weight: 500;
}

/* MEDIA */

@media (min-width: 375px) {
	.header-tabs__item {
		padding: 9px 40px;
	}
}
