.animation {
	position: relative;
}
.animation__layout {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	overflow: hidden;
}
.animation__item {
	white-space: nowrap;
	color: var(--secondary-01, #2fdbbc);
	font-feature-settings: 'liga' off;
	font-size: 48px;
	font-weight: 700;
	line-height: 106%;

	animation-name: text-move;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.animation__item:nth-child(2) {
	color: var(--primary-02, #a64ced);
	animation-name: text-move;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

.animation__item:nth-child(3) {
	color: var(--secondary-02, #ffaa4c);
}

@keyframes text-move {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(110%);
	}
}
