.promo {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.promo__img-container {
	margin-bottom: 40px;
}
.promo__img-container img {
	max-width: 100%;
}

/* MEDIA */

@media (min-width: 767px) {
	.promo {
		justify-content: space-between;
		flex-direction: row;
		margin-bottom: 100px;
	}
	.promo img {
		margin-bottom: 0;
	}
}

@media (min-width: 1040px) {
}
