.video {
	padding: 40px 0 40px;
	background-image: url('../../assets/phone.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.video__container {
	display: flex;
	justify-content: center;
	height: 461px;
}

.video__item {
	border-radius: 36.273px;
}

/* MEDIA */

@media (min-width: 1020px) {
	.video__container {
		height: 623px;
	}
}
