.about {
	width: 100%;
	max-width: 100%;
	background-image: url(/img/about/bg-decor.svg);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.about__body {
	display: flex;
	justify-content: space-between;
	column-gap: 131px;
	padding-bottom: 36px;
}

.about__title {
	@include title-bold-96;
	margin-bottom: 80px;
}

.about__sub-title-wrap {
	max-width: 397px;
}

.about__sub-title {
	@include sub-title-semibold-36;

	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
		width: 353px;
		height: 34.438px;
		transform: rotate(-1.693deg) translateX(10px);
		border-radius: 30px;
		background: $primary-02;
	}
}

.about__benefits {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 70px;
}

.about__benefits-item {
	max-width: 321px;
}

.about__benefits-title {
	@include title-bold-48;
	margin-bottom: 20px;
}

.about__benefits-sub-title {
	@include sub-title-regular-24;
}

/* media */

@include lg {
	.about__body {
		column-gap: 70px;
	}

	.about__benefits {
		gap: 30px;
	}
}

@include lg-md {
	.about__body {
		flex-direction: column;
		row-gap: 40px;
	}
	.about__sub-title-wrap {
		align-self: center;
	}
}

@include md {
	.about__title {
		@include title-bold-64;
		margin-bottom: 60px;
	}

	.about__benefits-title {
		@include title-bold-40;
	}
	.about__benefits-sub-title {
		@include sub-title-regular-20;
	}
}

@include sm {
	.about__title {
		@include title-bold-48;
		margin-bottom: 45px;
	}
	.about__benefits-title {
		@include title-bold-32;
	}
	.about__benefits-sub-title {
		@include body-regular-16;
	}
}

@include xs {
	.about__title {
		@include title-bold-40;
		margin-bottom: 30px;
	}
	.about__sub-title {
		@include sub-title-semibold-24;
	}
	.about__sub-title-wrap {
		width: 270px;
	}
	.about__sub-title::after {
		width: 235px;
		height: 29px;
		transform: rotate(-1.693deg) translateX(5px);
	}
}

@include xs-mini {
	.about__title {
		margin-bottom: 40px;
	}
	.about__benefits {
		grid-template-columns: 1fr;
	}
	.about__sub-title-wrap {
		align-self: flex-start;
	}
}
