.about {
    background-image: url('./../img/about/bg-decor.svg');
    background-repeat: no-repeat;
    background-position: bottom left;

    &__body {
        display: flex;
        justify-content: space-between;
        column-gap: 131px;
        padding-bottom: 36px;
    }

    &__title {
        font-size: clamp(40px, 1.5rem + 5vw, 96px);
        font-weight: 700;
        margin-bottom: 80px;
    }

    &__sub-title-wrap {
        max-width: 415px;
    }

    &__sub-title {
        font-size: clamp(24px, 1.286rem + 1.07vw, 36px);
        font-weight: 600;

        & span {
            position: relative;
            display: inline-block;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;

                max-width: 355px;
                height: 35px;

                transform: rotate(-1.693deg);
                border-radius: 30px;
                background-color: var(--primary-02);
            }
        }
    }

    &__benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px;
    }

    &__benefits-item {
        max-width: 321px;
    }

    &__benefits-title {
        @include title-bold-48;
        margin-bottom: 20px;
    }

    &__benefits-sub-title {
        @include sub-title-regular-24;
    }
}

/* media */

@include lg {
    .about__body {
        column-gap: 70px;
    }

    .about__benefits {
        gap: 30px;
    }
}

@include lg-md {
    .about__body {
        flex-direction: column;
        row-gap: 40px;
    }
    .about__sub-title-wrap {
    }
}

@include md {
    .about__title {
        margin-bottom: 60px;
    }

    .about__benefits-title {
        @include title-bold-40;
    }
    .about__benefits-sub-title {
        @include sub-title-regular-20;
    }
}

@include sm {
    .about__title {
        margin-bottom: 45px;
    }
    .about__benefits-title {
        @include title-bold-32;
    }
    .about__benefits-sub-title {
        @include body-regular-16;
    }
}

@include xs {
    .about__title {
        margin-bottom: 30px;
    }

    .about__sub-title-wrap {
    }
    .about__sub-title::after {
        width: 235px;
        height: 29px;
        transform: rotate(-1.693deg) translateX(5px);
    }
}

@include xs-mini {
    .about__title {
        margin-bottom: 40px;
    }
    .about__benefits {
        grid-template-columns: 1fr;
    }
    .about__sub-title-wrap {
        align-self: flex-start;
    }
}
