.content {
    // max-width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    // flex-shrink: 1;

    &__hero {
        margin-bottom: clamp(40px, 1.429rem + 5.36vw, 100px);
    }
    &__about {
        margin-bottom: clamp(40px, 1.429rem + 5.36vw, 100px);
    }
    &__how-works {
        margin-bottom: clamp(40px, 1.429rem + 5.36vw, 100px);
    }
}
