.feedback {
    padding: clamp(40px, 1.429rem + 5.36vw, 100px) 0;
    text-align: center;

    color: var(--grayscale-00);
    background: var(--grayscale-07);

    &__socials-title {
        font-size: clamp(40px, 1.5rem + 5vw, 96px);
        font-weight: 700;
        line-height: 1.06;
        margin-bottom: 20px;
    }

    &__socials-sub-title {
        @include sub-title-regular-20;
    }

    &__socials {
        display: flex;

        margin-bottom: clamp(40px, 1.429rem + 5.36vw, 100px);

        @include md {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__socials-typography {
        max-width: 882px;
        text-align: start;
    }

    &__button {
        width: 303px;
    }

    &__title {
        font-size: clamp(40px, 2.071rem + 2.14vw, 64px);
        font-weight: 700;
        line-height: 1.06;

        margin-bottom: 40px;
    }

    &__title-box {
        padding: clamp(40px, 2.143rem + 1.79vw, 60px) 0;
        margin-bottom: clamp(40px, 1.429rem + 5.36vw, 100px);

        border: 1px solid var(--grayscale-04);
        border-radius: 60px;
    }

    &__socials-icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        flex: 0 0 auto;
    }

    &__brands {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        column-gap: clamp(40px, 1.607rem + 4.46vw, 90px);
        row-gap: 30px;

        @include xs {
            padding: 50px 0;
        }

        @media (max-width: 370px) {
            flex-direction: column;
        }
    }

    &__icon-social {
        display: block;

        @include md {
            width: 64px;
            height: 64px;
        }

        &:nth-child(1) {
            align-self: start;
        }
        &:nth-child(2) {
            align-self: flex-end;
            transform: translateY(-60px);

            @include md {
                transform: translateY(60px);
            }
        }
        &:nth-child(3) {
            align-self: start;
        }
        &:nth-child(4) {
            align-self: flex-end;
            transform: translateY(-60px);

            @include md {
                transform: translateY(60px);
            }
        }
    }
}
