.header {
    &__top {
        background-color: var(--secondary-02);
    }

    &__nav-list {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    &__nav-link {
        display: inline-block;
        padding: 9px 40px;

        color: var(--grayscale-00);

        &--active {
            color: var(--grayscale-07);
            background-color: var(--grayscale-01);
            border-radius: 20px 20px 0px 0px;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

/* media */

// @include xs {
//     &__logo {
//         width: 124px;
//         height: 39px;
//     }
//     &__btn {
//         display: none;
//     }
// }

// @include xxs {
//     &__nav-link {
//         padding: 9px 30px;
//     }
// }
