.hero {
	width: 100%;
	max-width: 100%;
}

.hero__body {
	padding: 97px 0 100px 21px;
	display: flex;
	justify-content: space-between;
}

.hero__title {
	margin-bottom: 20px;
}

.hero__sub-title {
	width: 100%;
	max-width: 534px;
	margin-bottom: 40px;
}

.hero__bg {
	transform: translateX(60px);
}
