.hero {
	width: 100%;
	max-width: 100%;
}

.hero__body {
	display: flex;
	justify-content: space-between;

	padding: 82px 0 0 50px;
	margin-bottom: 100px;
}

.hero__title {
	@include title-bold-96;
	margin-bottom: 20px;
}

.hero__sub-title {
	@include sub-title-regular-20;
	width: 100%;
	max-width: 534px;
	margin-bottom: 40px;
}

.hero__bg {
	transform: translateX(60px);
}

/* media */

@include md {
	.hero__title {
		@include title-bold-64;
	}
	.hero__sub-title {
		@include sub-title-light-20;
	}
}

@include sm {
	.hero__title {
		@include title-semi-bold-48;
	}
}

@include xs {
	.hero__body {
		flex-direction: column;
		padding: 50px 0 0 0;
		margin-bottom: 40px;
	}
	.hero__title {
		@include title-bold-40;
	}
	.hero__sub-title {
		@include body-regular-16;
	}
	.hero__btn {
		width: 100%;
		max-width: 343px;
		margin-bottom: 40px;
	}
	.hero__bg {
		transform: translateX(0);
	}
}
