.nav-footer {
}
.nav-footer__list {
	display: flex;
	column-gap: 20px;
}
.nav-footer__item {
	text-decoration: underline;
	transition: transform 0.25s ease-in;

	&:hover,
	:active,
	:focus {
		transform: scale(1.05);
	}
}
.nav-footer__link {
	color: $grayscale-03;
}
