.nav-footer {
}
.nav-footer__list {
    display: flex;
    column-gap: 20px;
}
.nav-footer__item {
    transition: transform 0.25s ease-in;

    &:hover,
    :active,
    :focus {
        transform: scale(1.05);
    }
}
.nav-footer__link {
    @include body-light-14-underline;
    color: --grayscale-03;
}
