.nav-header {
	height: 38px;
}

.nav-header__list {
	display: flex;
	align-items: center;
	justify-content: start;
	height: 100%;
}

.nav-header__link {
	padding: 9px 40px;
	width: 100%;
}

.nav-header__link.active {
	color: $grayscale-07;
	background-color: $grayscale-01;
	border-radius: 20px 20px 0px 0px;
}

/* media */

@include xs-mini {
	.nav-header__link {
		padding: 9px 35px;
		font-size: $B4_Regular_14;
	}
}
