@import url(https://fonts.googleapis.com/css?family=Outfit:300,regular,500,600,700);
@import './mixin';

body {
	font-family: $outfit;
	font-size: 14px;
	font-feature-settings: 'liga' off;
	line-height: 1.57;
	color: $grayscale-07;
	background-color: $grayscale-01;
}

a {
	display: inline-block;
	color: $grayscale-00;
	font-size: $B1_Medium_16;
	font-weight: 500;
	transition: $transition;
	cursor: pointer;

	&:active {
		color: $grayscale-07;
	}
	&:focus {
	}
}

/* wrapper */
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

/* container */
.container {
	width: 100%;
	max-width: 1350px;
	padding: 0 15px;
	margin: 0 auto;
}
/* none */

.none {
	display: none;
}

/* TYPOGRAPHY */

/* title */

.title-bold-128 {
	font-size: $T1_Bold_128;
	font-weight: 700;
	line-height: 1.06;
}

.title-bold-64 {
	font-size: $T3_Bold_64;
	font-weight: 700;
	line-height: 1.06;
}

.title-bold-96 {
	font-size: $T2_Bold_96;
	font-weight: 800;
	line-height: 1.06;

	&_black {
		font-size: $T2_Bold_96;
		font-weight: 800;
		line-height: 1.06;
		color: $grayscale-00;
	}

	.title-bold-64 {
		font-size: $T3_Bold_64;
		font-weight: 700;
		line-height: 1.06;
	}
}

.title-semi-bold-48 {
	font-size: $T5_SemiBold_48;
	font-weight: 600;
	line-height: 1.06;
	line-height: normal;
}

/* subtitle */
.sub-title-semibold-36 {
	font-size: $S1_SemiBold_36;
	font-weight: 600;
	line-height: normal;
}

.sub-title-semibold-24 {
	font-size: $S2_SemiBold_24;
	font-weight: 600;
	line-height: 1.2;
}

.sub-title-regular-24 {
	font-size: $S3_Regular_24;
	font-weight: 400;
	line-height: 1.2;
}

.sub-title-regular-20 {
	font-size: $S6_Regular_20;
	font-weight: 400;
	line-height: 1.2;

	&_black {
		color: $grayscale-00;
		font-size: $T2_Bold_96;
		font-weight: 800;
		line-height: 1.06;
	}
}

.body-light-14 {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
}
