@import url(https://fonts.googleapis.com/css?family=Outfit:300,regular,500,600,700);
@import './mixin';

body {
    font-family: var(--outfit);
    color: var(--grayscale-07);

    font-size: 14px;

    font-feature-settings: 'liga' off;

    background-color: var(--grayscale-01);
}

a {
    color: currentColor;
    font-size: var(--B1_Medium_16);
    font-weight: 500;
    cursor: pointer;

    &:active,
    :focus {
        color: var(--grayscale-07);
    }
}

/* wrapper */
.wrapper {
    // display: flex;
    // flex-direction: column;

    // justify-content: space-between;

    // min-height: 100vh;
    overflow: hidden;
}

/* container */
.container {
    width: 100%;
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}

/* none */
.none {
    display: none !important;
}
