/* TYPOGRAPHY */

/* title */
@mixin title-bold-128 {
	font-size: $T1_Bold_128;
	font-weight: 700;
	line-height: 1.06;
}

@mixin title-bold-96 {
	font-size: $T2_Bold_96;
	font-weight: 700;
	line-height: 1.06;
}

@mixin title-bold-64 {
	font-size: $T3_Bold_64;
	font-weight: 700;
	line-height: 1.06;
}

@mixin title-bold-48 {
	font-size: $T4_Bold_48;
	font-weight: 700;
	line-height: normal;
}

@mixin title-semi-bold-48 {
	font-size: $T5_SemiBold_48;
	font-weight: 600;
	line-height: normal;
}

@mixin title-bold-40 {
	font-size: $T6_Bold_40;
	font-weight: 700;
	line-height: 1.06;
}

@mixin title-bold-32 {
	font-size: $T7_Bold_32;
	font-weight: 700;
	line-height: 1.06;
}

/* subtitle */
@mixin sub-title-semibold-36 {
	font-size: $S1_SemiBold_36;
	font-weight: 600;
	line-height: normal;
}

@mixin sub-title-semibold-24 {
	font-size: $S2_SemiBold_24;
	font-weight: 600;
	line-height: 1.2;
}

@mixin sub-title-regular-24 {
	font-size: $S3_Regular_24;
	font-weight: 400;
	line-height: 1.2;
}

@mixin sub-title-regular-20 {
	font-size: $S6_Regular_20;
	font-weight: 400;
	line-height: 1.2;
}

@mixin sub-title-light-20 {
	font-size: $S7_Light_20;
	font-weight: 300;
	line-height: 1.4;
}

/* body */
@mixin body-medium-16 {
	font-size: $B1_Medium_16;
	font-weight: 500;
	line-height: normal;
}
@mixin body-regular-16 {
	font-size: $B2_Regular_16;
	font-weight: 400;
	line-height: normal;
}

@mixin body-light-14-underline {
	font-size: $B6_Light_14_Underline;
	font-weight: 300;
	line-height: 1.4;
	text-decoration: underline !important;
}
