/* TYPOGRAPHY */

/* title */
@mixin title-bold-128 {
    font-size: var(--T1_Bold_128);
    font-weight: 700;
    line-height: 1.06;
}

@mixin title-bold-96 {
    font-size: var(--T2_Bold_96);
    font-weight: 700;
    line-height: 1.06;
}

@mixin title-bold-64 {
    font-size: var(--T3_Bold_64);
    font-weight: 700;
    line-height: 1.06;
}

@mixin title-bold-48 {
    font-size: var(--T4_Bold_48);
    font-weight: 700;
}

@mixin title-semi-bold-48 {
    font-size: var(--T5_SemiBold_48);
    font-weight: 600;
}

@mixin title-bold-40 {
    font-size: var(--T6_Bold_40);
    font-weight: 700;
    line-height: 1.06;
}

@mixin title-bold-32 {
    font-size: var(--T7_Bold_32);
    font-weight: 700;
    line-height: 1.06;
}

/* subtitle */
@mixin sub-title-semibold-36 {
    font-size: var(--S1_SemiBold_36);
    font-weight: 600;
}

@mixin sub-title-semibold-24 {
    font-size: var(--S2_SemiBold_24);
    font-weight: 600;
    line-height: 1.2;
}

@mixin sub-title-regular-24 {
    font-size: var(--S3_Regular_24);
    font-weight: 400;
    line-height: 1.2;
}

@mixin sub-title-regular-20 {
    font-size: var(--S6_Regular_20);
    font-weight: 400;
    line-height: 1.2;
}

@mixin sub-title-light-20 {
    font-size: var(--S7_Light_20);
    font-weight: 300;
    line-height: 1.4;
}

/* body */
@mixin body-medium-16 {
    font-size: var(--B1_Medium_16);
    font-weight: 500;
}
@mixin body-regular-16 {
    font-size: var(--B2_Regular_16);
    font-weight: 400;
}

@mixin body-light-14-underline {
    font-size: var(--B6_Light_14_Underline);
    font-weight: 300;
    line-height: 1.4;
    text-decoration: underline !important;
}
